<ion-header>
  <ion-toolbar class="degradado">
    <ion-buttons slot="start">
      <ion-back-button class="back" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro Usuario</ion-title>


  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding magnolia">
 <ion-item class="ion-margin-top inputRedondo">
    <ion-label position="fixed">Correo</ion-label>
    <ion-input [(ngModel)]="mdl_correo">
      <ion-icon name="mail" slot="start"></ion-icon>
    </ion-input>
  </ion-item>
  <ion-item class="ion-margin-top inputRedondo">
    <ion-label position="fixed">Contraseña</ion-label>
    <ion-input [(ngModel)]="mdl_contrasena">
      <ion-icon name="key" slot="start"></ion-icon>
    </ion-input>
  </ion-item>
    <ion-item class="ion-margin-top inputRedondo">
    <ion-label position="fixed">Nombre</ion-label>
    <ion-input [(ngModel)]="mdl_nombre">
      <ion-icon name="person" slot="start"></ion-icon>
    </ion-input>
  </ion-item>
  <ion-item class="ion-margin-top inputRedondo">
    <ion-label position="fixed">Apellido</ion-label>
    <ion-input [(ngModel)]="mdl_apellido">
      <ion-icon name="person" slot="start"></ion-icon>
    </ion-input>
  </ion-item>

  <ion-button (click)="UsuarioAlmacenar()" expand="block" class="degradado ion-margin-top" >Registrar</ion-button>

</ion-content>
