<app-date titulo="¡Hola {{usuario}}!">
</app-date>

<ion-content>
<br>
<br>
  <div>
    <ion-img src="assets/images/earth.jpeg "></ion-img>
  </div>
  <br>
  <br>
  <ion-list>
    <br>
    <br>

    <div>
      <ion-button (click)="leerQR()" expand="block">Registro Asistencia</ion-button>
      <ion-label class="titulo"> {{ texto }} </ion-label>    
    </div>
    <ion-button expand="block" class="degradado" (click)="restablerContrasena()">
      <ion-icon slot="end" name="lock-open-outline"></ion-icon>
      Restablecer contraseña</ion-button>
    <ion-button expand="block" class="degradado" (click)="cerrarSesion()">
      <ion-icon slot="end" name="log-out-outline"></ion-icon>
      Cerrar sesión</ion-button>
  </ion-list>

</ion-content>