<app-date titulo="¡Hola {{usuario}}!">
</app-date>

<ion-content>
<br>
<br>
  <div>
    <ion-img src="assets/images/earth.jpeg "></ion-img>
  </div>
  <br>
  <br>
  <ion-list>
    <br>
    <br>

    <ion-button (click)="tomarFoto()" class="degradado" expand="block">
    Registro Asistencia</ion-button>
    <ion-img [src]="rutaFoto"></ion-img> 
    <ion-button expand="block" class="degradado" (click)="restablerContrasena()">
      <ion-icon slot="end" name="lock-open-outline"></ion-icon>
      Restablecer contraseña</ion-button>
      <ion-button expand="block" class="degradado" (click)="cerrarSesion()">
      <ion-icon slot="end" name="log-out-outline"></ion-icon>
      Cerrar sesión</ion-button>
  </ion-list>

</ion-content>