<ion-header>
  <ion-toolbar class="degradado">
    <ion-buttons slot="start">
      <ion-back-button class="back" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>¡Hola!</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
<br>
<br>
  <div>
    <ion-img src="assets/images/earth.jpeg "></ion-img>
  </div>
  <br>
  <br>
  <ion-list>

    <ion-item><ion-button expand="block" class="boton" (click)="restablerContrasena()" class="degradado ion-margin-top" >Cambiar contraseña</ion-button></ion-item>
    <ion-item><ion-button  expand="block" class="boton" (click)="cerrarSesion()" class="degradado ion-margin-top">Cerrar sesión</ion-button></ion-item>
  </ion-list>

</ion-content>