<app-date titulo="Bienvenid@">
</app-date>

<ion-content class="ion-padding">
  <div class="ion-text-center ion-padding">
    <ion-label class="titulo">Asistencia</ion-label>
  </div>
  <br>
  <ion-img src="assets/images/planet.jpeg" class="images"></ion-img>

  <ion-item>
    <ion-label position="floating">Correo</ion-label>
    <ion-input [(ngModel)]="mdl_correo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="mdl_contrasena"></ion-input>
  </ion-item>
  <ion-button (click)="ingresar()" expand="block" class="degradado">
    <ion-icon slot="end" name="log-in-outline"></ion-icon>
    Ingresar
  </ion-button>
  <ion-button (click)="registroUsuario()" expand="block" class="button icon-right ion-chevron-right button-calm" class="degradado ion-margin-top">
    <ion-icon slot="end" name="save-outline"></ion-icon>
    Registrar
  </ion-button>
</ion-content>